@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #000000;
}

/* Heading and logo */

h1, h2 {
    font-family: Open-sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation links */

#menu {
     font-size: 95%;
     letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu ul {
    float: right;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #ffffff;
}

.active {
    border-bottom: 1px solid #000000;
}

/* hero image */

#hero-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;


}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 350px;
    width: 100%;
    background: url('../images/heroimage-dronewheatfield2.webp') no-repeat center center;
    background-size: cover;
}

/* drone studio */

#drone-studio {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 80px;
    height: 200px;
    margin: 0 auto;
}

#about {
    font-family: Open-sans, sans-serif;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 6px;
    width: 75%;
    margin: 0 auto;
}

/* video home */

video {
    padding-top: 100px;
    display: block;
    margin: 0 auto;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    padding-top: 5%;
    color: #000000;
}