@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #000000;
}

/* Heading and logo */

h1, h2 {
    font-family: Open-sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation links */

#menu {
     font-size: 95%;
     letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu ul {
    float: right;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #ffffff;
}

.active {
    border-bottom: 1px solid #000000;
}

/* hero image */

#hero-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;


}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 350px;
    width: 100%;
    background: url('../images/heroimage-dronewheatfield2.jpg') no-repeat center center;
    background-size: cover;
}

/* drone studio about */

#drone-studio {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding-top: 80px;
    height: 200px;
    margin: 0 auto;
}

#about {
    font-family: Open-sans, sans-serif;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 2px;
    width: 75%;
    margin: 0 auto;
}

/* video home */

video {
    padding-bottom: 60px;
    display: block;
    margin: 0 auto;
}


/* Buttons motionandgraphic*/

#motion a, #graphic a {
    text-decoration: none;
    color: inherit;
}

#motion, #graphic {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    color: #000000;
}

#motion a:hover, #graphic a:hover {
    color: #9a9a9a;
}

/* video home */

#videoblock video {
    padding-bottom: 60px;
    display: block;
    margin: 0 auto;
}

/* graphic image */

.graphic-image {
    padding-bottom: 60px;
    width: 960px;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* footer */

footer {
    height: 150px;
    background-color: #9a9a9a;}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    padding-top: 2%;
    color: #000000;
}

/* motion */

#motionpicture {
    padding-top: 80px;
}


/* graphic */

#photos {
    padding-top: 80px;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    margin: 0 auto;
    display: block;
}

#photos > img {
    width: 100%;
}


/* contact form */

#contactimage {
    width: 100%;
    height: 800px;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    text-align: center;
    background: url(../images/woolbridge.jpg);
    background-size: cover;
    background-position: center;
    font-family: Roboto, sans-serif;
}

.contacttext {
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    font-family: Roboto, sans-serif;
}

form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    margin: 16px;
}

.contacttext h1 {
    color: #fff;
    padding-top: 100px;
}

.contacttext h2 {
    color: #fff;
}


.form-submit {
    color: #fff;
    padding-top: 20px;
    padding-right: 470px;
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    margin: 16px;
}


/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width:) {
    
}